.boxes-gallery-of-best-images{
    margin-top: 500px;
}
.gallery-container{
    display: flex;
    justify-content: space-between;
    width: 1160px;
    height: 921px;
    margin: 90px auto;
}
.gallery-section1{
    width: 378px;
    row-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.gallery-section1>img{
    width: 378px;
}
.gallery-section1-item1{
    height: 263px;
}
.gallery-section1-item3{
    height: 290px;
}
.gallery-section2-item1{
    height: 380px;
}
.gallery-section2-item2{
    height: 247px;
}
.gallery-section2-item3{
    height: 254px;
}
.gallery-section3-block1{
    width: 368px;
    height: 160px;
    display: flex;    
    justify-content: space-between;
    margin-bottom: 2px;
}
.section-without-gap{
    row-gap: 0;
}
.gallery-section3-block1-item{
    width: 180px;
}
.gallery-section3-block2{
    width: 368px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 3px;
}
.gallery-section3-block2-item{
    width: 119px;
    height: 92px;
   
}
.gallery-section3-block3{
    margin-top: -10px;
}
.gallery-section3-block3-img{
    width: 368px;
    height: 373px;
}
.load-more-button-position-gallery {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.block-image {
    position: relative;
}
.onImage {
    position: absolute;
    width: 27px;
    height: 25px;
    top: 50%;
    left: 10%;
    background: #14B9D5;
    border: none;
    cursor: pointer;
    z-index: 2;
    display: none;
}
.onImage2 {
    transform: translateX(140%);
}
.gallery-image {
    position: relative;
    width: 100%;
    height: 100%;
}
.block-image::after {
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.64);
    content: "";
    opacity: 0;
    transition-duration: 0.5s;
}
.block-image:hover::after {
    opacity: 1;
    transition-duration: 0.5s;
}
.block-image:hover .onImage {
    display: block;
  }
