* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*header*/

header {
    background: url("../img/Sections background/section-1(header).jpg") no-repeat fixed;
    background-size: cover;
    height: 1012px;
}

.transparency {
    display: flex;
    align-items: center;
    height: 120px;
    background-color: rgba(86, 86, 86, 0.6);
}

.nav-header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40em;
}

.nav-header-link {
    text-decoration: none;
}

.nav-menu-link {
    text-decoration: none;
    position: relative;
}

.white-font {
    color: white;
}

.green-font {
    color: #18CFAB;
}

.gray-font {
    color: #D4D4D4;
}

.font-15 {
    font-size: 15px;
}

.font-32 {
    font-size: 32px;
}

.font-34 {
    font-size: 34px;
}

.font-35 {
    font-size: 35px;
}

.font-40 {
    font-size: 40px;
}

.font-78 {
    font-size: 78px;
}

.bold {
    font-weight: bold;
}

.fa-search {
    fill: white;
}

.uppercase {
    text-transform: uppercase;
}

.logo {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #18CFAB;
    padding: 13px 12px;
}

.nav-menu-link:hover {
    color: #18CFAB;
}

.nav-menu-link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    transition: all .4s ease;
    left: 0;
    bottom: -52px;
    background-color: #18CFAB;
    opacity: 0;
    transform: scaleX(0);
}

.nav-menu-link:hover:after {
    opacity: 1;
    transform: scaleX(1);
}

.green-background {
    background-color: #18CFAB;
}

.blue-background {
    background-color: #00CBF6;
}

.header-button {
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border: none;
    border-top: white 5px solid;
    cursor: pointer;
    margin-right: 26px;
}

.green-button-style:hover {
    background-color: #119c80;
}

.blue-button-style:hover {
    background-color: #04afd4;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 213px;
    padding-top: 254px;
}

.header-buttons {
    display: flex;
    justify-content: center;
    padding-top: 301px;
}

/*boxes*/

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 377px;
}

.deep-blue-background {
    background-color: #1C2A33;
}

.font-20 {
    font-size: 20px;
}

.box-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 8px white solid;
}

.img-correction {
    display: flex;
    height: 180px;
    align-items: center;
    justify-content: center;
}

/*main*/

/*our services*/

.font-36 {
    font-size: 36px;
}

.font-14 {
    font-size: 14px;
}

.services-relative {
    position: relative;
}

.services-absolute1 {
    position: absolute;
    padding-top: 30px;
    left: calc(47.5%);
}

.services-absolute2 {
    position: absolute;
    padding-top: 35px;
    left: calc(48.5%);
}

.services {
    text-align: center;
    padding-top: 80px;
    margin: 0 auto;
    height: 375px;
    color: #4E4E4E;
    width: 1160px;
}

.tabs {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-title {
    background-color: #F8FCFE;
    color: #717171;
    width: 192px;
    cursor: pointer;
    border: 1px solid #EDEFEF;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tabs-title.active {
    background-color: #18CFAB;
    color: white;
}

.tabs-title.active::after {
    content: "";
    position: absolute;
    left: calc(50% - 10px);
    top: 100%;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}

.tabs-content li {
    display: none;
}

.hidden {
    display: none;
}

.tabs-content li.active {
    display: inline-block;
}

.centered-content {
    margin-top: 90px;
}

.tabs-content {
    display: flex;
    padding-top: 20px;
}

.tabs-photo {
    float: left;
    margin-right: 15px;
}

.tabs-content-text {
    text-align: left;
    line-height: 1.46;
}

/*everything-is-ready*/

.everything-is-ready {
    margin-top: 91px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/Sections background/section-2.jpg") no-repeat fixed;
    background-size: cover;
    height: 476px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.everything-is-ready-text1 {
    padding-top: 127px;
}

.everything-is-ready-text2 {
    padding-top: 18px;
}

.everything-is-ready-button {
    margin-top: 70px;
}

/*our amazing work*/

.our-amazing-work-background {
    background-color: #E9EDEF;
}

.our-amazing-work {
    text-align: center;
    padding-top: 80px;
    margin: 0 auto;
    color: #4E4E4E;
    width: 1160px;
}

.our-amazing-work-relative {
    position: relative;
}

.our-amazing-work-absolute1 {
    position: absolute;
    padding-top: 30px;
    left: calc(47.5%);
}

.our-amazing-work-absolute2 {
    position: absolute;
    padding-top: 35px;
    left: calc(48.5%);
}

.tabs2 {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-content2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.tabs-our-amazing-work {
    padding-top: 97px;
}

.tabs-title-our-amazing-work {
    color: #717171;
    padding: 0 16px 0 16px;
    cursor: pointer;
    border: 1px solid #DADADA;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tabs-title-our-amazing-work-special {
    padding: 0 27px 0 27px;
}

.tabs-title-our-amazing-work.active {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.load-more-button-position {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 99px;
}

.load-more-button {
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 26px;
}

.tabs-content2 {
    width: 1160px;
    margin: 0 auto;
}

.relative {
    position: relative;
}

.absoluteButton {
    position: absolute;
    display: none;
    top: 46px;
    left: 101px;
    cursor: pointer;
}

.absoluteLine {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

.absoluteText1 {
    position: absolute;
    display: none;
    top: 115px;
    left: 78px;
    cursor: pointer;
}

.absoluteText2 {
    position: absolute;
    display: none;
    top: 135px;
    left: 100px;
    cursor: pointer;
    color: #8A8A8A;
}

.tabs-title-our-amazing-work-item:hover img:first-child {
    opacity: 0;
}

.tabs-title-our-amazing-work-item:hover .absoluteButton {
    display: block;
}

.tabs-title-our-amazing-work-item:hover .absoluteLine {
    display: block;
}

.tabs-title-our-amazing-work-item:hover .absoluteText1 {
    display: block;
}

.tabs-title-our-amazing-work-item:hover .absoluteText2 {
    display: block;
}

/*breaking news*/

.breaking-news-position {
    position: relative;
    width: 263px;
}

.breaking-news-green-container {
    position: absolute;
    background-color: #203E38;
    top: 0;
    right: 0;
    height: 70px;
    width: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    padding-bottom: 10px;
}

.link-no-style {
    text-decoration: none;
}

.font-18 {
    font-size: 18px;
}

.light {
    font-weight: 300;
}

.light-gray-font {
    color: #777777;
}

.breaking-news-cards {
    display: grid;
    padding-top: 97px;
    width: 1160px;
    margin: 0 auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
}

.breaking-news-card:hover .breaking-news-green-container {
    background-color: #18CFAB;
}

.breaking-news-card:hover .breaking-news-card-text {
    color: #18CFAB;
}

.breaking-news-card-text {
    padding-top: 3px;
    padding-left: 20px;
}

.breaking-news-card-text2 {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
}

/*What People Say About theHam*/

.what-people-say-about-theHam-background {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Sections background/section-3.jpg") no-repeat fixed;
    background-size: cover;
    height: 853px;
    margin-top: 128px;
}

.quotes-absolute {
    position: absolute;
    padding-top: 96px;
    left: calc(48.5%);
}

.review-block {
    width: 1160px;
    margin: 0 auto;
    padding-top: 190px;
}

.nav-reviewer-photo {
    border: 6px solid rgba(17, 76, 75, 0.8);
    border-radius: 50%;
    overflow: hidden;
    width: 72px;
    height: 72px;
}

.photo-frame {
    display: inline-block;
    padding-bottom: 50px;
}

.nav-photo-frame {
    display: inline-block;
}

.deep-gray-font {
    color: #BBBBBB;
}

.review-slide-text {
    line-height: 30px;
}

.reviewer-photo {
    width: 165px;
    height: 165px;
    border: 12px solid rgba(17, 76, 75, 0.8);
    border-radius: 50%;
    overflow: hidden;
}

.review-slide {
    display: flex;
    justify-content: center;
    text-align: center;
}

.review-slide-name {
    padding-top: 25px;
}

.review-slide-work {
    padding-top: 20px;
    padding-bottom: 45px;
}

.review-nav {
    text-align: center;
}

/*footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 121px;
    background-color: #22353F;
    color: #AEAEAE;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

.slick-prev, .slick-next {
    border: none;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}
