.blockOpen {
    padding-top: 190px;
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}
.block-people{
    padding-top: 30px;
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.imgPerson{
    width: 166px;
    height: 166px;
    border: 12px solid #1fdab539;
    border-radius: 50%;
}
.peopleList{ 
    padding: 0 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.sliderBtn{ 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 31px;
    height: 31px;
    background: none;
    border: 1px solid #BBBBBB; 
}
.sliderBtn:hover {
    background: #18CFAB;
    border: 1px solid #18CFAB;
}
.sliderBtn>img{
    width: 10px;
    height: 15px;
}
.btnNextImg{
    transform: rotate(180deg);
}
.peopleList>img{ 
    width:59px;
    height: 59px;
    border: 3px solid  #1fdab539;
    border-radius: 50%;
}

.whiteText{
    color: #BBBBBB;
}
.sliderImgItem{
    cursor: pointer;
}
.sliderActive {
    transform: translateY(-20px);
    animation-name: sliderActive;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-direction: normal;
}
.blockOpen-description {
    line-height: 154%;
}
.blockOpen-name {
    padding-top: 37px;
}
.blockOpen-work {
    padding-top: 10px;
    padding-bottom: 38px;
}

@keyframes sliderActive {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
    }
}